@import "tailwindcss";
@plugin "tailwind-scrollbar";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  textarea {
    /* Chrome, Safari, and Edge */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: theme("colors.black");
    }
    &::-webkit-scrollbar-thumb {
      background: theme("colors.blue.500");
      border-radius: 100px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: theme("colors.blue.600");
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: theme("colors.blue.500") theme("colors.black");
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
